<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon aria-hidden="true" name="apps"></ion-icon>
      <ion-label>Categorías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="filtro">
      <ion-icon aria-hidden="true" name="basket">></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalles">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Detalles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true"name="cart-outline"></ion-icon>
      <ion-label>Carrito
      </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>